ion-header {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Ombre sous le header */
  }
  ion-title {
    font-size: 1.2rem; 
    text-transform: uppercase; 
    letter-spacing: 1px; /* Espacement entre les lettres */
  }